@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to bottom, #3C096C, #7B2CBF);
}

#menu{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'ubuntu';
    padding: 20px 0px;
    position: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0))

}

nav a{
    color: white;
    text-decoration: none;
    background-color: #FF9100;
    margin-inline: 50px;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 50px;
}

nav a:hover{
    background-color:#ffa81b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
}

#bemvindo{
    display: flex;
    flex-flow: column wrap;
    color: white;
    font-family: 'ubuntu';
    margin: auto;
    margin-bottom: 150px;
    padding-top: 150px;
    margin-inline: 10%;
}

header h1{
    font-weight:700;
    font-size: 9em;
    margin-bottom: 1px;
}

header p{
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.5em
}

#conteudo{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-width: -20px;
}
.sobremim{
    color: #FF9100;
    display: flex;
    margin: 50px;
    min-width: 300px;
    max-width: 1400px;
    margin-inline: 10%;
}
.sobremimtexto{
    text-align: justify;
    width: 100%;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1em;
    margin: auto;
    margin-right: 50px;
    
}
.sobremimimagem img{
    width: 100%;
}
.oqueaprendi{
    text-align: justify;
    color: white;
    font-family: 'ubuntu';
    padding: 15px;
    font-size: 1em;
    font-weight: 300;
}

#proposito{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 10%;
    margin-bottom: 70px;
    margin-top: 50px;
}
.video iframe{
    width: 780px;
    height: 440px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.500);
    margin-top: 2%;
}

footer{
    background-color: white;
    font-family: 'ubuntu';
    font-size: 1em;
    color: #3C096C;
    text-align: center;
    text-align: justify;
}

#footer{
    padding: 50px;
    padding-bottom: 150px;
    margin-inline: 10%;
}
#footer h2{
    text-align: center;
}
.aviso{
    text-align: center;
    background-color: #3C096C;
    color: #FF9100;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
}

@media (max-width: 785px) {
    .sobremim{
        flex-direction: column;
    }
    .sobremimtexto{
        margin-bottom: 10%;
    }
    #menu{
        flex-wrap: wrap;
        gap: 10px;
    }
    nav a{
        margin-inline: 1px;
    }
    header h1{
        font-size: 6em;
    }
    .video iframe{
        width: 380px;
        height: 215px;
    }
}

@media (max-width: 390px) {
    #bemvindo h1{
        font-weight:700;
        font-size: 5em;
        margin-bottom: 1px;
    }
    .sobremim{
        flex-direction: column;
        width: 375px;
        justify-content: center;
    }
    .sobremimtexto{
        width: 100%;
        margin-bottom: 10%;
    }
    .sobremimimagem img{
        width: 100%;
        
    }
    #menu{
        width: 100%;
    }
    nav a{
        margin-inline: 1px;
        width: 30%;
    }
    header h1{
        font-size: 6em;
    }
    #footer h2{
        font-size: 1.2m ;
    }
    #footer p{
        font-size: 0.5em;
    }
    .video iframe{
        width: 280px;
        height: 160px;
    }

}